.category {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 100px 0px 70px;
    gap: 100px;
    flex-wrap: wrap;
}

.category-container {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.category-container:hover {
    transform: scale(1.05);
}

.category-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    gap: 10px;
}

.category-image {
    color: rgb(255, 66, 105);
    width: 40px;
    height: 40px;
}

.category-title {
    font-size: 1rem;
    color: black;
    color: rgb(255, 66, 105);
    padding: 0;
    margin: 0;
}