.category-details-recipe {
    border: 1px solid red;
}

.category-details-recipe-content {
    position: relative;
}

.content-titleBar {
    text-align: center;
    margin: 70px 0px 50px;
}

.details-title {
    font-size: 1.7rem;
}

.arrow-link {
    color: rgb(255, 66, 105);
    font-size: 2rem;
}

.arrow-icon {
    position: absolute;
    top: 10px;
    left: 100px;
    cursor: pointer;
}