.category-details-recipe {
    padding-bottom: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.category-details-section {
    margin: 0px 100px;
}

@media (max-width: 768px) {
    .category-details-section {
        margin: 0px 30px;
    }
}