.recette-global h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-top: 10px;
}

.recette-card {
    display: flex;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    max-width: 100%;
    opacity: 1;
    transition: 0.5s;
    /*border: 1px solid blue;*/
}

.recette-card:hover {
    transform: scale(1.03);
}

.recette-card-description {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    -webkit-box-align: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}