/* src/components/ScrollToTopButton.css */
.scroll-to-top {
    position: fixed;
    bottom: 40px;
    right: 30px;
    z-index: 1000;
    background-color: rgb(255, 66, 105);
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 12px 15px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease-in-out;
}
  
.scroll-to-top:hover {
    background-color: #c02a37;
}

@media screen and (max-width: 786px) {
    .scroll-to-top {
        position: fixed;
        bottom: 40px;
        right: 6px;
        padding: 8px 8px;
        font-size: 20px;
        cursor: pointer;
    }
}
  